.headerContainer {
  width: 100%;
  height: 100px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inconsolata_Condensed-Bold";
  text-transform: uppercase;
}
/* LOGO */
.headerContainer .logo {
  width: 95px;
  height: 36px;
}
.headerContainer .logo img {
  width: 100%;
  height: 100%;
}
/* NAVBAR */
.headerContainer .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(4 * 1rem);
  list-style-type: none;
  font-size: 20px;
}
.headerContainer .navbar li:active {
  border-bottom: 2px solid #000;
}
/* CONTACT BUTTON */
.headerContainer .contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 25px;
  font-family: "Inconsolata_Condensed-Bold";
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #000;
  gap: 10px;
  transition: 0.5s;
}
.headerContainer .contactBtn:hover {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}
.headerContainer .contactBtn:hover a {
  color: #fff;
}
.headerContainer .contactBtn:hover img {
  filter: invert(1);
}
.headerContainer .contactBtn a {
  text-decoration: none;
  color: #000;
}
/* Mobile Menu  */
.menu {
  --s: 30px; /* control the size */
  --c: black; /* the color */
  display: none;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  --webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  --webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

@media (max-width: 1024px) {
  .headerContainer {
    padding: 0 50px;
  }
  .headerContainer .navbar {
    gap: calc(3 * 1rem);
  }
  .headerContainer .contactBtn {
    padding: 11px 20px;
  }
}
@media (max-width: 992px) {
  .headerContainer {
    padding: 0 40px;
  }
  .headerContainer .navbar {
    gap: calc(2 * 1rem);
  }
  .headerContainer .contactBtn {
    padding: 11px 15px;
  }
}
@media (max-width: 768px) {
  .headerContainer {
    padding: 0 20px;
  }
  .headerContainer .navbar {
    display: none;
  }
  .headerContainer .contactBtn {
    display: none;
  }
  .menu {
    display: block;
  }
}
